<h3>My Reservations</h3>

<ul>
  <% @user.reservations.each do |reservation| %>
    <li>
      <%= link_to reservation.restaurant.name, reservation.restaurant %>
      <%= reservation.notes %>
    </li>
  <% end %>
</ul>
