<h1>Yo Reservations</h1>


<% @reservations.each do |reservation| %>

<p>  <%= link_to reservation.date_of_reservation, reservation_path(reservation) %> <br>
   <%= reservation.time_of_reservation %><br>
   <%= reservation.number_of_seats %>
</p>
<% end %>
