<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

<h1>Yo Reservation</h1>

<% @reservations.each do |reservation| %>
<p><%= @reservation.date_of_reservation %> <br>
   <%= @reservation.time_of_reservation %><br>
   <%= @reservation.number_of_seats %>
</p>

<% end%>
