<h3>All restaurants</h3>

<% @restaurants.each do |r| %>
  <section class="restaurant">
    <%= image_tag "http://farm4.staticflickr.com/3027/2896972929_d55c6d30de_s.jpg" %>
    <%= link_to r.name, r %>
    <p class="category">Category: <strong><%= r.category.name %></strong></p>
    <p class="desc"><%= shorten(r.description) %></p>
  </section>
<% end %>
