/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  width: 100%;
  background-color: #dedede;
  padding: 10px 0 10px 10px;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: black;
}

nav ul {
  width: 100%;
  background-color: #efefef;
  margin: 0;
  padding: 10px 0 10px 10px;
}

nav ul li {
  display: inline;
  margin-right: 50px;
  list-style: none;
}

section#login {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 50px;
}

section#login ul {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}

section#alert {
  margin: 20px;
  padding: 10px;
  border: 2px solid red;
  width: 250px;
  color: red;
}

section#notice {
  margin: 20px;
  padding: 10px;
  border: 2px solid #336600;
  width: 250px;
  color: #336600;
}

label {
  display: block;
}

section#content {
  margin-left: 25px;
  margin-top: 50px;

}

.errors {
  color: red;
  width: 300px;
}

.errors ul li {
  margin-bottom: 5px;
}

.errors ul li:nth-child(even) {
  color: red;
}

.errors ul li:nth-child(odd) {
  color: #cc0000;
}

.field_with_errors input {
  border: 1px solid red;
}

section.restaurant {
  width: 750px;
  clear: both;
}


section.restaurant img {
  float: left;
  margin-right: 25px;
}

section.restaurant a {
  font-size: 40px;
}

section.restaurant:nth-child(odd) {
  background-color: #eee;
}

section.restaurant:hover {
  background-color: #ddd;
}


section.restaurant-details img {
  float: left;
  margin-right: 25px;
}

section.restaurant-details h3 {
  font-size: 55px;
}

.clear {
  clear: both;
}
