body {
  background-color: #F9F6F0;
}

/*#nav h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #707E4C;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}*/

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  float: right;
  color: #89907F;
}

a {
  font-family: "Josefin Sans", sans-serif;
  /*color: #707E4C ;*/
  text-decoration: none;
  /*color: white;*/
  color: #89907F
}

.restaurant-list {
}

.main {
    height: 1000px;
    margin-top: 150px;
    background-image: url("http://del.h-cdn.co/assets/15/48/1600x800/landscape-1448313938-friends-eating-meal-table-view.jpg");
}

.main h1 {
    color: #FBF9F7;
    padding-top: 20px;
    padding-left: 10px;
}

.style_image {
    height: 100px;
    width: 100px;
    border-radius: 50%;

body {
  font-family: 'Josefin Sans', sans-serif;
}
